.whole_page{
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}


.intro{
    font-family: Montserrat;
    font-weight: 500px;
    font-size: 110%;
    text-align: left;
}

/*----------
.bg{
    width: 100%;
    height: 100%;
    background-color: bisque;
}
*/