.body{
font-family: Montserrat;
font-size: 110%;
font-weight: 300px;
align-items: left;
}

.this_page{
font-weight: bolder;
font-size: 150%;
text-align: center;
text-transform: uppercase;
color: rgb(136, 1, 1);
}

.topics{
    font-weight: bold;
font-size: 100%;
text-align: left;
}