.body{
    text-align: left;
    font-size: 110%;
    padding: 10;
    font-family: Montserrat;
}

#construction{
    text-align: center;
    font-weight: bold;
    color: rgb(170, 0, 0);
    text-transform: uppercase;
    font-size: 150%;
    padding: 10;
    font-family: Montserrat;
}

.tools{
    text-align: left;
    font-family: Montserrat;
}