.body{
    font-family: Montserrat;
}

.heading{
    font-weight: bolder;
    text-transform: uppercase;
}

.rectangle{
    width: 500px;
    height: 30px;
    color: white;
    background-color: blue;
    border: 10px;
    border-color: black;
    border-radius: 10px;
    border-width: 20px;
    padding: 10px;
    margin: 10px;
}